.box {
	position: relative;
}
.box canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.mb10 {
	margin-bottom: 10px;
}
#container {
	/* 这种方式会拉伸画布
	width: 600;
	height: 600px; */
	background-color: #eaeaea;
}
.info {
	margin: 10px 0;
	line-height: 26px;
}
.green {
	color: green;
}
.red {
	color: red;
}